
@{
    ViewData["Title"] = "HomePage2";
}

<body style="background-color:lightgoldenrodyellow;">
    <h1 class="text-center">Добре дошъл</h1>
</body>


@* Създава се референция към страницата за книгите и се поставя снимка на която когато кликнеш ще те отведе там*@
<a href="/Books">

    <img src="~/image/KnigiBiblioteka-removebg-preview__1_-removebg-preview.png" alt="Girl in a jacket" width="500" height="500" />
</a>
@* Създава се референция към страницата за клиентите и се поставя снимка на която когато кликнеш ще те отведе там*@
<a href="/Customers">

    <img src="~/image/usertrans2.png" alt="Girl in a jacket" width="500" height="500" />
</a>

