
@{
    ViewData["Title"] = "HomePage2";
}

<h1 class="text-center">Добре дошъл</h1>

<a href="/Books">

    <img src="~/image/KnigiBiblioteka-removebg-preview__1_-removebg-preview.png" alt="Girl in a jacket" width="500" height="500" />
</a>
<a href="/Customers">

    <img src="~/image/usertrans2.png" alt="Girl in a jacket" width="500" height="500" />
</a>

