@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ВХОД</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
<form action="action_page.php" method="post">
    <div class="container">
        <label for="uname"><b>Потребител</b></label>
        <input type="text" placeholder="Въведи Потребител" name="uname" required>             
    </div>
    <div class="container">

        <label for="psw"><b>Парола</b></label>
        <input type="password" placeholder="Въведи Парола" name="psw" required>
    </div>
    <div class="container">
        <button type="submit">Вход</button>
        <label>
            @*<input type="checkbox" checked="checked" name="remember"> Remember me*@
        </label>
    </div>

    <!--<div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>-->
        @*<span class="psw">Forgot <a href="#">password?</a></span>*@
    <!--</div>-->
</form>
</div>
